{% extends 'base.html' %}
{% block content %}
        {% csrf_token %}
        <table class="table">
            <thead>
            <tr>
                <th><strong>Index</strong></th>
                <th><strong>Cod produs</strong></th>
                <th><strong>Descriere</strong></th>
                <th><strong>Pret Emag</strong></th>
                <th><strong>Pret Altex</strong></th>
                <th><strong>Imagine Produs</strong></th>

                <th>Stare</th>
                <th><strong>Actiune</strong></th>
             </tr>
            </thead>
            <tbody>

            {% for item in scraper %}
                <tr>
                    <td>{{ forloop.counter0|add:page_obj.start_index }}</td>
                    <td>
                        {{ item.cod_produs }}
                    </td>
                    <td>
                        {{ item.descriere }}
                    </td>

                    <td>
                        {{ item.pret_emag }}
                    </td>
                    <td>
                        {{ item.pret_altex }}
                    </td>

                    <td>
                        <img src="{{item.imagine}}"  width="100" height="120">
                    </td>
                    <td>{% if item.active == 1 %}
                            <span>Activ</span>
                        {% else %}
                        <span>Inactiv</span>
                        {% endif %}
                    </td>
                    <td>
                        {% if item.active == 1 %}
                        <a href="{% url 'scraper:sterge' item.id %}" class="btn btn-danger">Sterge</a>
                    {% else %}
                        <a href="{% url 'scraper:activeaza' item.id %}" class="btn btn-info">Activeaza</a>
                    {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
    </table>
{% if is_paginated %}
    <ul class="pagination">
        {% if page_obj.has_previous %}
            <li><a class="btn" href="?page={{ page_obj.previous_page_number }}"><<</a></li>
        {% else %}
            <li class="disabled btn"><span><<</span></li>
        {% endif %}
        {% for i in paginator.page_range %}
            {% if page_obj.number == i %}
                <li class="active btn btn-info"><span>{{ i }}<span class="sr-only">(curent)</span></span></li>
            {% else %}
                <li><a class="btn" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <li><a class="btn" href="?page={{ page_obj.next_page_number }}">>></a></li>
        {% else %}
            <li class="disabled btn"><span>>></span></li>
        {% endif %}
        <span class="align-right">Showing {{ page_obj.start_index }} - {{ page_obj.end_index }} of
            {{ page_obj.paginator.count }}</span>
    </ul>
{% endif %}

{% endblock %}
